<% provide(:title, "GIFT LOGとは？") %>

<div class="card mt-2">
  <%= image_tag 'about.jpg', size: '1100x200', class: "card-img opct opacity-50 heading-image" %>
  <div class="card-img-overlay d-flex align-items-center justify-content-center">
    <h1 class="font-weight-bold heading" >GIFT LOGとは？</h1>
  </div>
</div>

<div class="about-texts">
  <h3 class="first-sentence">誰かに何かプレゼントを贈りたいと思った時、あなたはどうしますか？</h3>
  <h5 class="about-text">
    <br>色々とお店を見て回って選ぶ。ショッピングサイトで見比べてみる。
    <br>相手が喜ぶ姿を想像しながら、プレゼント選びをするのは楽しいですよね。
  </h5>

  <h5 class="about-question">でも、こう思ったことはありませんか？</h5>
  <div class="about-text">
    <h4>「どれも何となく良さそうだけど、決め手がない！！」</h4>
    <h4>「これあげて喜んでくれるかな？？」</h4>
    <h4>「サイトで見つかるの何か無難でオモロないなー」</h4>
  </div>

  <h5>プレゼントを渡す相手に直接何が欲しいのか、聞くのが一番早いかもしれませんが、<br>サブライズがプレゼントの醍醐味でもあります。</h5>
  <h5>そんな時に誰かに相談できれば良いですが、</h5>

  <div class="about-feeling">
    <h4>「彼女にプレゼントを贈りたいけど、周りに相談できそうな女友達なんておらへん！」</h4>
    <h4>「高校に合格した甥っ子にお祝いしてあげたいけど、今時の年頃の子って何あげたら喜ぶん？」</h4>
    <h4>「職場の上司(50代♂)が何もらって喜ぶかなんて知らんわ！」</h4>
  </div>
  <h5>と、色んな問題にぶち当たります。</h5>
  </p>
  <h4 class="about-text">「とにかく色んな人の意見を聞いてみたい！」</h4>
  <h5>そんな時に、プレゼント選びに関する悩みや疑問をユーザー同士で質問、回答し合い解決できる</h5>
  <h2><span class="catch-copy">「プレゼント選びに特化したQ&Aサイト」</span>です！！</h2>
  <h4 class="about-text">身近な人の誕生日や好きなもの、趣味などをメモ書きしたり、過去に何を贈ったかをメモしたりすることもできます。あなただけのギフトログとして活用してみてください！</h4>
</div>

<div class="wrapper">
  <h2 class="about-heading">GIFT LOGでできること</h2>
</div>
  
<div class="good-points">

  <div class="good-point about-posts">
    <div class="thinking-image about-image">
      <%= image_tag 'thinking_man.jpg', size: "300x250" %>
    </div>
    <h3 class="good-point-heading">質問を探す</h3>
    <div class="good-point-texts">
      <h5>・ホーム<i class="fas fa-home"></i>の投稿一覧で、投稿を見ることができます。</h5>
      <h5>知りたいことが過去の投稿で見つかるかもしれないので、他のユーザーの投稿を見てみましょう。</h5>
      <h5>・過去の投稿を見てもお困りの場合は、是非投稿してみましょう。プレゼント選びに関して、百戦錬磨のユーザーの貴重な意見を聞けるかもしれません。</h5>
      <h5>・他のユーザーが投稿をしていたら、是非コメントをしてあげましょう。<br>あなたのコメントで救われる人がいるかも？？</h5>
      <h5>・ログインしていただくと、「質問投稿」、「投稿にコメント」、「投稿にいいね<i class="fa fa-heart"></i>」、「他のユーザーのためになったコメントにいいね<i class="far fa-kiss-wink-heart"></i>」ができます。</h5>
    </div>
  </div>

  <div class="good-point about-signup clear">
    <div class="signup-image about-image">
      <%= image_tag 'typing.jpeg', size: "300x250" %>
    </div>
    <h3 class="good-point-heading">ユーザー登録</h3>
    <div class="good-point-texts">
      <h5>・ユーザー登録をすると、質問の投稿やコメント等できることが増えます。</h5>
      <h5>・ログイン後、メニューバーのマイメニューから、</h5>
      <h5>→マイページで自分の投稿一覧や、いいねした投稿、コメントした投稿の一覧を閲覧することができます。</h5>
      <h5>→自分の「登録情報の変更<i class="fas fa-cog"></i>」、「フォロー/フォロワーリストの閲覧<i class="fas fa-handshake"></i>」ができます。</h5>
      <h5>・他のユーザーのマイページにアクセスするとそのユーザーの情報を見ることができます。</h5>
    </div>
  </div>

  <div class="good-point about-my-lists clear">
    <div class="gifts-image about-image">
      <%= image_tag 'many_gifts.jpeg', size: "300x250" %>
    </div>
    <h3 class="good-point-heading">大切な人、贈ったもの登録</h3>
    <div class="good-point-texts">
      <h5>・ログイン後、メニューバーの大切な人リスト<i class="fas fa-hand-holding-heart"></i>から、</h5>
      <h5>自分の身近な人の名前や写真、誕生日などを自由に登録することができます。もちろんあなたにしか見ることができないページです。</h5>
      <h5>・自分が登録した「大切な人」に過去に贈ったものを記録することもできます。</h5>
      <h5>いつ贈ったかや贈った時の状況などを記録することができ、後で見返すこともできます。</h5>
      <h5>プレゼント選びの時に参考になる記録としてご活用ください！</h5>
    </div>
  </div>

</div>

<% if !logged_in? %>
<div class="starts clear">
  <h2 class="about-heading">さっそくGIFT LOGをはじめる</h2>

  <div class="about-buttons">
    <%= link_to "ユーザー登録", signup_path, class: "btn btn-lg btn-success about-btn mb-3" %>
    <br><%= link_to "ログイン", login_path, class: "btn btn-lg btn-danger about-btn mb-3" %>
    <br><%= link_to "ゲストログイン(ポートフォリオ閲覧)", guest_path, method: :post, class: "btn btn-lg btn-warning about-btn mb-3" %>
    <br><%= link_to "まずは登録せずに始める", root_path, class: "btn btn-lg btn-dark about-btn" %>
  </div>
</div>
<% end %>
