<% provide(:title, "ホーム") %>

<div class="category-selection">
  <div class="title">
    <h2>カテゴリ選択</h2>
  </div>
  <div class="search-form">
    <%= form_with(scope: :search, url: '#', method: :get, local: true) do |f| %>
     <div class="field">
      <%= f.label(:性別) %>
      <%= f.select :性別, [["男性", "男性"], ["女性", "女性"]], include_blank: "指定なし" %>
    </div>
    <div class="field">
      <%= f.label(:年齢) %>
      <%= f.select :年齢, [["10代まで", "10代まで"], ["10代", "10代"], ["20代", "20代"], ["30代", "30代"], ["40代", "40代"], ["50代", "50代"], ["60代", "60代"], ["70代", "70代"], ["80代", "80代"], ["90代", "90代"], ["100代以上", "100代以上"]], include_blank: "指定なし" %>
    </div>
    <div class="field">
      <%= f.label(:シチュエーション) %>
      <%= f.select :シチュエーション, [["誕生日祝い", "誕生日祝い"], ["結婚祝い", "結婚祝い"], ["出産祝い", "出産祝い"], ["引越祝い", "引越祝い"], ["クリスマス", "クリスマス"], ["バレンタイン", "バレンタイン"], ["ホワイトデー", "ホワイトデー"], ["合格祝い", "合格祝い"], ["入学祝い", "入学祝い"], ["卒業祝い", "卒業祝い"], ["就職祝い", "就職祝い"], ["昇進祝い", "昇進祝い"], ["記念日", "記念日"], ["送別会", "送別会"], ["送別会", "送別会"], ["母の日", "母の日"], ["父の日", "父の日"], ["敬老の日", "敬老の日"], ["お礼", "お礼"], ["パーティー", "パーティー"], ["お見舞い", "お見舞い"], ["手土産", "手土産"], ["その他", "その他"]], include_blank: "指定なし" %>
    </div>
    <div class="field">
      <%= f.label(:予算) %>
      <%= f.select :予算, [["1,000円未満", "1,000円未満"], ["1,000~2,000円", "1,000~2,000円"], ["2,000~3,000円", "2,000~3,000円"], ["3,000~5,000円", "3,000~5,000円"], ["5,000~8,000円", "5,000~8,000円"], ["8,000~10,000円", "8,000~10,000円"], ["10,000~15,000円", "10,000~15,000円"], ["15,000円以上", "15,000円以上"]], include_blank: "指定なし" %>
    </div>
    <div class="actions">
      <%= submit_tag "検索", :name => nil %>
    </div>
    <% end %>
  </div>
</div>

<div class="ranking-lists">
  <div class="ranking-list">
    <div class="title">
      <h2>回答数ランキング</h2>
    </div>
  </div>
  <div class="ranking-list">
    <div class="title">
      <h2>いいね獲得ランキング</h2>
    </div>
  </div>
</div>

<div class="posts">
  <h1>投稿一覧</h1>
    <%# <%= render @posts %>  
</div>