<% provide(:title, "ホーム") %>

<div class="card mt-2">
  <div class="carousel slide" data-ride="carousel" data-interval= 2500>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag 'dog_present.jpg', size: '1100x450', class: "card-img opct heading-image" %>
        <div class="card-img-overlay d-flex align-items-center justify-content-center">
          <h1 class="font-weight-bold heading" >みんなで贈ろう、プレゼント。<br>みんなで話そう、プレゼント。</h1>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag 'family_gift_image.jpeg', size: '1100x450', class: "card-img opct heading-image" %>
        <div class="card-img-overlay d-flex align-items-center justify-content-center">
          <h1 class="font-weight-bold heading" >みんなで贈ろう、プレゼント。<br>みんなで話そう、プレゼント。</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<%# <div class="row"> %>
<div class="category-selection">
  <div class="title row mt-3">
    <h2>投稿検索</h2>
  </div>
  <div class="search-form row">
    <%= form_tag(search_path, method: :get) do %>
    <%= label_tag :gender, "贈りたい人の性別" %>
    <%= select_tag :gender, options_for_select(["男性", "女性"]), include_blank: "指定なし", class: "form-control" %>
    <%= label_tag :age, "贈りたい人の年齢" %>
    <%= select_tag :age, options_for_select(["10代まで","10代","20代","30代","40代", "50代","60代","70代","80代","90代","100代以上"]), include_blank: "指定なし", class: "form-control" %>
    <%= label_tag :situation, "シチュエーション" %>
    <%= select_tag :situation, options_for_select(["誕生日祝い","結婚祝い","出産祝い","引越祝い","クリスマス","バレンタイン","ホワイトデー","合格祝い", "入学祝い","卒業祝い","就職祝い","昇進祝い","送別会","記念日","母の日","父の日","敬老の日","お礼","パーティー","お見舞い","手土産","その他"]), include_blank: "指定なし", class: "form-control" %>
    <%= label_tag :price, "贈りたい物の予算" %>
    <%= select_tag :price, options_for_select(["1,000円未満","1,000~2,000円", "2,000~3,000円","3,000~5,000円","5,000~8,000円","8,000~10,000円","10,000~15,000円","15,000円以上"]), include_blank: "指定なし", class: "form-control" %>
    <%= submit_tag "検索", class: "btn btn-success mt-2" %>
    <% end %>
  </div>
</div>

<%# <div class="ranking-lists text-right">
  <div class="ranking-list">
    <div class="title">
      <h2>回答数ランキング</h2>
    </div>
  </div>
  <div class="ranking-list">
    <div class="title">
      <h2>いいね獲得ランキング</h2>
    </div>
  </div> %>

  <%# <% if logged_in? %>
  <div class="ranking-list mt-3">

        <% if false %>
        <%# これいじる %>
        <h2>回答数ランキング</h2>
        <% @comments_users_rank.each.with_index(1) do |user, i| %>
          <p>第<%= i %>位</p>
          <p>ユーザー名: <%= link_to user.name, user %></p>
          <p>回答数: <%= user.comments_count %></p>
        <% end %>
        <% end %>

<%# コメント数ランキング ここから %>
      <h2>コメント数ランキング</h2>

      <% lastComment = 0 %>
      <% j = 1 %>
      <% @comments_users_rank.each.with_index(1) do |user, i| %>
        <% if i == 1 %>
          <% lastComment = user.comments_count %>
        <% end %>
        <% if user.comments_count != lastComment %>
          <% j = i %>
          <p>第<%= j %>位</p>
          <div class="card-img-top mt-2 mx-auto" data-toggle="tooltip" data-placement="bottom" data-html="true" title=<%= user.name %>&#13;&#10;<%= user.age %>歳<%= user.gender %> >
            <% if user.image? %>
              <% if logged_in? %>
                <%= link_to image_tag(user.image.to_s, size: '50x50', class: "rounded-circle"), user %>
              <% else %>
                <%= image_tag(user.image.to_s, size: '50x50', class: "rounded-circle") %>
              <% end %>
            <% else %>
              <% if logged_in? %>
                <%= link_to image_tag("default.jpg",size: '50x50', class: "rounded-circle"), user %>
              <% else %>
                <%= image_tag("default.jpg", size: '50x50', class: "rounded-circle") %>
              <% end %>
            <% end %>
          </div>
          <p>コメント数: <%= user.comments_count %></p>
          <% lastComment = user.comments_count %>
        <% else %>
          <% lastComment = user.comments_count %>
          <p>第<%= j %>位</p>
          <div class="card-img-top mt-2 mx-auto" data-toggle="tooltip" data-placement="bottom" data-html="true" title=<%= user.name %>&#13;&#10;<%= user.age %>歳<%= user.gender %> >
          <% if user.image? %>
            <% if logged_in? %>
              <%= link_to image_tag(user.image.to_s, size: '50x50', class: "rounded-circle"), user %>
            <% else %>
              <%= image_tag(user.image.to_s, size: '50x50', class: "rounded-circle") %>
            <% end %>
          <% else %>
            <% if logged_in? %>
              <%= link_to image_tag("default.jpg",size: '50x50', class: "rounded-circle"), user %>
            <% else %>
              <%= image_tag("default.jpg", size: '50x50', class: "rounded-circle") %>
            <% end %>
          <% end %>
          <p>コメント数: <%= user.comments_count %></p>
        <% end %>
      <% end %>
      </div>
      <%# コメント数ランキングここまで %>
      

  <%# コメントへのいいね獲得数ランキング ここから %>
      <h2>コメントへのいいね獲得<br>ランキング</h2>

      <% lastLike = 0 %>
      <% j = 1 %>
      <% @comments_likes_users_rank.each.with_index(1) do |user, i| %>
        <% if i == 1 %>
          <% lastLike = user.comment_likes_count %>
        <% end %>
        <% if user.comment_likes_count != lastLike %>
          <% j = i %>
          <p>第<%= j %>位</p>
          <div class="card-img-top mt-2 mx-auto" data-toggle="tooltip" data-placement="bottom" data-html="true" title=<%= user.name %>&#13;&#10;<%= user.age %>歳<%= user.gender %> >
            <% if user.image? %>
              <% if logged_in? %>
                <%= link_to image_tag(user.image.to_s, size: '50x50', class: "rounded-circle"), user %>
              <% else %>
                <%= image_tag(user.image.to_s, size: '50x50', class: "rounded-circle") %>
              <% end %>
            <% else %>
              <% if logged_in? %>
                <%= link_to image_tag("default.jpg",size: '50x50', class: "rounded-circle"), user %>
              <% else %>
                <%= image_tag("default.jpg", size: '50x50', class: "rounded-circle") %>
              <% end %>
            <% end %>
          </div>
          <p>コメント<br>いいね獲得数: <%= user.comment_likes_count %></p>
          <% lastLike = user.comment_likes_count %>
        <% else %>
          <% lastLike = user.comment_likes_count %>
          <p>第<%= j %>位</p>
          <div class="card-img-top mt-2 mx-auto" data-toggle="tooltip" data-placement="bottom" data-html="true" title=<%= user.name %>&#13;&#10;<%= user.age %>歳<%= user.gender %> >
          <% if user.image? %>
            <% if logged_in? %>
              <%= link_to image_tag(user.image.to_s, size: '50x50', class: "rounded-circle"), user %>
            <% else %>
              <%= image_tag(user.image.to_s, size: '50x50', class: "rounded-circle") %>
            <% end %>
          <% else %>
            <% if logged_in? %>
              <%= link_to image_tag("default.jpg",size: '50x50', class: "rounded-circle"), user %>
            <% else %>
              <%= image_tag("default.jpg", size: '50x50', class: "rounded-circle") %>
            <% end %>
          <% end %>
          <p>コメント<br>いいね獲得数: <%= user.comment_likes_count %></p>
        <% end %>
      <% end %>
  </div>
  <%# コメントへのいいね獲得数ランキングここまで %>
</div>

<div class="w-75 mx-auto">
  <h1 class="text-center">投稿一覧</h1>
    <% if @posts.any? %>
    <%= render @posts %>
    <%= paginate @posts, theme: 'twitter-bootstrap-4' , pagination_class: "justify-content-center" %>
    <% else %>
    <p class="text-center">初めての投稿をしてみよう！</p>
    <% end %>
</div>