<div>
  <ul>
    <li>
      <% unless comment.user.blank? %>
        <a href="<%= user_path(comment.user_id) %>"></a>
      <% end %>
      <% if comment.user.image? %>
        <%= image_tag comment.user.image.to_s %>
      <% else %>
        <%= image_tag "default.jpg" %>
      <% end %>
      <%= link_to comment.user.name, comment.user unless comment.user.blank? %>
      <br/>
      <%= comment.content %>
      <p><%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %></p>

      <% if current_user?(@post.user) && comment.user != current_user %>

        <%= render 'comment_likes/like', post: @post, comment: comment %>

      <% end %>

      <% if current_user?(comment.user) %>
        <%= link_to "コメントを削除する", post_comment_path(@post, comment), method: :delete %>
      <% end %>
    </li>
  </ul>
</div>

  




 
