<div id="comment_<%= @comment.id %>" >
  <% if logged_in? %>
    <h2>コメントを投稿する</h2>
    <%= form_with(model: [@post, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit", remote:true do %>
        <i></i> コメントする
      <% end %>
    <% end %>
  <% end %>
  <h2>コメント一覧</h2>
  <h3>コメント<%= @comments.count%>件</h3>
  <% @comments.each do |c| %>
    <div>
      <% unless c.user.blank? %>
        <a href="<%= user_path(c.user_id) %>"></a>
        <% end %>
      <%= link_to c.user.name, c.user unless c.user.blank? %>
      <br/>
      <%= c.content %>
      <p><%= c.created_at.strftime('%Y/%m/%d %H:%M:%S') %></p>

      <div>
        <% if current_user.comment_liked_by?(c.id) %>
          <td><%= link_to 'いいねを外す', destroy_comment_like_path(c), method: :DELETE %></td>
        <% else %>
          <td><%= link_to 'いいね', create_comment_like_path(c), method: :POST %></td>
        <% end %>
      <div>

      <% if current_user?(c.user) %>
        <%= link_to "コメントを削除する", post_comment_path(@post, c), method: :delete %>
      <% end %>
    </div>
    <br />
  <% end %>
</div>