<div>
    <h2>コメントを投稿する</h2>
    <%= form_with(model: [@post, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit", remote:true do %>
        <i></i> コメントする
      <% end %>
    <% end %>
  <h2>コメント一覧</h2>
  <h3>コメント<%= @comments.count%>件</h3>
  
  <%= render 'comments/likes' %>

</div>