<li class="list-unstyled">
  <div class="card bg-light text-center w-75 mx-auto mb-3 rounded">
    <div class="card-img-top mt-2">
      <% if user.image? %>
        <%= image_tag user.image.to_s, size: '200x200', class: "rounded-circle" %>
      <% else %>
        <%= image_tag "default.jpg", size: '200x200', class: "rounded-circle" %>
      <% end %>
    </div>
    <div class="card-body user-info w-75 mx-auto">
      <h2 class="text-center"><%= link_to user.name, user, class: "stretched-link text-dark" %></h2>
      <div class="w-75 mx-auto">
        <p class="border-bottom"><span class="badge badge-pill badge-secondary ml-2 mr-1">性別</span><%= user.gender %></p>
        <p class="border-bottom"><span class="badge badge-pill badge-secondary ml-2 mr-1">年齢</span><%= user.age %>歳</p>
        <p class="border-bottom"><span class="badge badge-pill badge-secondary ml-2 mr-1">自己紹介</span><%= user.introduction %></p>
      </div>
    </div>
  </div>
</li>
