<% provide(:title, @user.name) %>
<div class="border mb-2 bg-light w-75 mx-auto">
  <div class="text-center">
    <% if @user.image?%>
      <%= image_tag @user.image.to_s, size: '250x250', class: "rounded-circle"%>
    <% else %>
      <%= image_tag "default.jpg" %>
    <% end %>
    <h1><%= @user.name %></h1>
    <% if logged_in? %>
    <% @user ||= current_user %>
    <div>
      <a href="<%= following_user_path(@user) %>">
        <strong id="following">
          <%= @user.following.count %>
        </strong>
        フォロー
      </a>
      <a href="<%= followers_user_path(@user) %>">
        <strong id="followers">
          <%= @user.followers.count %>
        </strong>
        フォロワー
      </a>
    </div>
    <% else %>
    <div>
      <span>
        <strong id="following">
          <%= @user.following.count %>
        </strong>
        フォロー
      </span>
      <span>
        <strong id="followers">
          <%= @user.followers.count %>
        </strong>
        フォロワー
      </span>
    <% end %>
    </div>
    <div class="user-info col-3 mx-auto">
      <p>性別:<%= @user.gender %></p>
      <p>年齢:<%= @user.age %>歳</p>
      <p>職業:<%= @user.job %></p>
      <p>出身:<%= @user.prefecture %></p>
      <p>自己紹介:<%= @user.introduction %></p>
    </div>
  </div>
</div>

<div class="text-center">
  <% if logged_in? %>
    <% unless current_user?(@user) %>
      <div id="follow_form">
      <% if current_user.following?(@user) %>
        <%= render 'unfollow' %>
      <% else %>
        <%= render 'follow' %>
      <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="container">
  <ul class="menu">
    <li><%= link_to "投稿一覧", @user %></li>
    <li><%= link_to "コメントした投稿", user_comments_path(@user.id) %></li>
    <li><%= link_to "いいね(投稿)", user_post_likes_path(@user.id) %></li>
    <li><%= link_to "いいね(コメント)", "#" %>
  </ul>
<div>

<h1 class="text-center">コメントした投稿</h3>
<% if @user.comments.any? %>
  <%= render @posts %>
  <%= paginate @posts %>
<% end %>