<% provide(:title, 'ユーザーリスト') %>

<div class="search-form text-left w-75 mx-auto">
  <%= form_tag(users_path, method: "get") do %>
    <%= text_field_tag :name, params[:name], placeholder: "ユーザー名", class: 'form-control w-25 pull-right mt-3' %>
    <%= submit_tag "検索", class: "btn btn-lg btn-success mt-2" %>
  <% end %>
</div>

<h1 class="text-center mt-3">ユーザーリスト</h1>
<div>
  <% if @users.any? %>
    <%= render @users %>
    <%= paginate @users, theme: 'twitter-bootstrap-4' , pagination_class: "justify-content-center" %>
  <% else %>
    <p class="text-center">検索に一致するユーザーは見つかりません。</p>
  <% end %>
</div>