<% provide(:title, "贈り物登録") %>

<h1>贈り物登録</h1>

  <div class="border text-center">
    <%= form_with(scope: :gift, url: favorite_person_gifts_path(@favorite_person), local: true) do |f| %>
        <%= render 'shared/error_messages_for_gifts' %>

        <p><%= f.label :item, "贈ったもの(必須)" %></p>
        <%= f.text_field :item %>

        <p><%= f.label :situation, "シチュエーション(任意)" %></p>
        <%= f.text_field :situation %>

        <p><%= f.label :price, "予算(任意)" %></p>
        <%= f.text_field :price, class:'mr-1' %>円

        <p><%= f.label :when, "いつ贈ったか(任意)" %></p>
        <%= f.text_field :when %>
        
        <p><%= f.label :description, "備考(任意)" %></p>
        <%= f.text_area :description %>

        <p><%= f.submit "登録", class: "btn btn-success btn-lg" %></p>

    <% end %>
  </div>