<li>
  <% if favorite_person.image? %>
    <%= image_tag favorite_person.image.to_s %>
  <% else %>
    <%= image_tag "default.jpg" %>
  <% end %>
  <p>名前:<%= favorite_person.name %>
  <p>誕生日:<%= favorite_person.birthday %></p>
  <%= link_to "詳細", favorite_person %>
</li>