<% provide(:title, "新規大切な人登録") %>

<h1>新規大切な人登録</h1>

<div class="row">
  <div>
    <%= form_with(model: @favorite_person,local: true) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <p><%= f.label :name, "名前(必須)" %></p>
        <%= f.text_field :name, class:'form-control' %>

        <p><%= f.label :image, "画像(任意)" %></p>
        <%= f.file_field :image %>

        <p><%= f.label :birthday, "誕生日(任意)" %></p>
        <%= f.date_select :birthday, discard_year: true, prompt:"--" %>

        <p><%= f.label :description, "備考(任意)" %></p>
        <%= f.text_area :description %>

        <p><%= f.submit "登録" %></p>

    <% end %>
  </div>
</div>