<% provide(:title, "新規大切な人登録") %>

<h1 class="text-center">大切な人新規登録</h1>

  <div class="border bg-light w-75 mx-auto mb-3 text-center">
    <%= form_with(model: @favorite_person,local: true) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <p><%= f.label :name, "名前(必須)" %></p>
        <%= f.text_field :name, id: "input-name", placeholder:"ニックネームなど" %>
        <div class="cnt_area"><span class="now_cnt_name">0</span> / 50</div>

        <p><%= f.label :image, "画像(任意)" %></p>
        <%= f.file_field :image %>

        <p><%= f.label :birthday, "誕生日(任意)" %></p>
        <%= f.date_select :birthday, discard_year: true, prompt:"--" %>

        <p><%= f.label :description, "備考(任意)" %></p>
        <%= f.text_area :description, size: '30x8', id: "input-description", placeholder:"食の好みや趣味などをメモ書きしておきましょう" %>
        <div class="cnt_area"><span class="now_cnt_des">0</span> / 200</div>

        <p><%= f.submit "登録", class: "btn btn-success btn-lg" %></p>

    <% end %>
  </div>

<script>
jQuery(function($){
    // name入力時
    $('#input-name').on('input', function(){
        //文字数を取得
        var cnt = $(this).val().length;
        //現在の文字数を表示
        $('.now_cnt_name').text(cnt);
    });
    // description入力時
    $('#input-description').on('input', function(){
        //文字数を取得
        var cnt = $(this).val().length;
        //現在の文字数を表示
        $('.now_cnt_des').text(cnt);
    });
});
</script>