<% provide(:title, @favorite_person.name) %>
<div>
<div class="border text-center w-75 mx-auto">
  <% if @favorite_person.image?%>
    <%= image_tag @favorite_person.image.to_s, size: '200x200', class: "rounded-circle" %>
  <% else %>
    <%= image_tag "default.jpg", size: '200x200',class: "rounded-circle" %>
  <% end %>
  <h2><%= @favorite_person.name %></h2>
  <div class="w-25 mx-auto favorite-person-info">
    <p>誕生日:<%= @favorite_person.birthday&.strftime('%01m月%01d日') %></p>
    <p>備考:<%= @favorite_person.description %></p>
  </div>
</div>

<div>
  <h1 class="text-center">贈ったものリスト</h1>

  <div class="text-center mb-2">
    <%= link_to "登録する",  new_favorite_person_gift_path(@favorite_person), class: "btn btn-success btn-sm"  %>
  </div>
  <% if @gifts.any? %>
    <ul class="list-unstyled">
      <%= render @gifts %>
      <%= paginate @gifts %>
    </ul>
  <% end %>
</div>
</div>