<div class="favorite_person-info">
  <% if @favorite_person.image?%>
    <%= image_tag @favorite_person.image.to_s %>
  <% else %>
    <%= image_tag "default.jpg" %>
  <% end %>
  <h2>名前:<%= @favorite_person.name %></h2>
  <p>誕生日:<%= @favorite_person.birthday&.strftime('%01m月%01d日') %></p>
  <p>備考:<%= @favorite_person.description %></p>
</div>

<div>
  <% if false %>
    <%= render gifts_path(current_user) %>
  <% end %>
  
  <h1>贈ったものリスト</h1>

  <%= link_to "登録する", new_gift_path %>
  <% if @gifts.any? %>
    <ul>
      <%= render @gifts %>
      <%= paginate @gifts %>
    </ul>
  <% end %>
  
</div>