<li class="list-unstyled"> 
  <div class="card bg-light text-center w-75 mx-auto mb-3 rounded">

    <div class="card-img-top mt-2 mx-auto" data-toggle="tooltip" data-placement="bottom" data-html="true" title=<%= post.user.name %>&#13;&#10;<%= post.user.age %>歳<%= post.user.gender %> >
      <% if post.user.image? %>
        <%= link_to image_tag(post.user.image.to_s, size: '100x100', class: "rounded-circle"), post.user %>
      <% else %>
        <%= link_to image_tag("default.jpg",size: '100x100', class: "rounded-circle"), post.user %>
      <% end %>
    </div>

    <% if false %>
    <div class="col-2 border">
      <p class="small">ユーザー名:<%= link_to post.user.name, post.user, class:"small text-dark" %></p>
      <p class="small">性別:<%= post.user.gender %></p>
      <p class="small">年齢:<%= post.user.age %>歳</p>
    </div>
    <% end %>

    <div class="card-body post-content w-75 mx-auto">
      <p>贈りたいもの:<%= post.item %></p>
      <% if post.image? %>
        <p class="small">贈りたいもののイメージ画像</p>
        <%= link_to post.image.to_s, "data-lightbox" => post.image.to_s do %>
        <%= image_tag post.image.to_s, size: '150x150' %>
        <% end %>
      <% end %>
      <p>贈りたい人:<%= post.who %></p>
      <p>シチュエーション:<%= post.situation %></p>
      <p><br><%= post.description %></p>
      <span class="timestamp small">
        投稿日時:<%= post.created_at.strftime('%Y/%m/%d %H:%M') %>
      </span>
    </div>
      
    <div class="card-body">
      コメント
      <i class="fas fa-comment">
        <%= post.comments.count %>
      </i>
      <% if false %>
      <%= render 'post_likes/like', post: post %>
      <% end %>
      <br>

      <% if false %>
      <% if current_user?(post.user) %>
        <%= link_to "投稿削除", post, method: :delete,
        data: { confirm: "投稿を削除してもよろしいですか?" }, class: "mb-2 btn btn-danger btn-sm" %>
        <%= link_to "投稿編集", edit_post_path(post), class: "btn btn-danger btn-sm" %>
      <% end %>
      <% end %>
    </div>

    <div class="card-body">
      <%= link_to "もっと見る", "/posts/#{post.id}", class: "btn" %>
    </div>

  </div>
</li>