<div>
  <ul>
    <li>
    <%= link_to post.id, "/posts/#{post.id}" %> 
      <span class="user">
        <p>ユーザー名:<%= link_to post.user.name, post.user %></p>
        <p>性別:<%= post.user.gender %></p>
        <p><%= post.user.age %>歳</p>
      </span>
      <span class="content">
        <p>贈りたいもの:<%= post.item %></p>
        <p>贈りたい人:<%= post.who %></p>
        <p>シチュエーション<%= post.situation %></p>
      </span>
      <span class="timestamp">
        <%= post.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
      </span>
      <% if current_user?(post.user) %>
        <%= link_to "削除する", post, method: :delete,
                                        data: { confirm: "投稿を削除してもよろしいですか?" } %>
        <%= link_to "編集する", edit_post_path(post)  %>
      <% end %>
    </li>
  </ul>
<div>




