<% provide(:title, "投稿編集") %>

<h1>投稿編集</h1>

  <div class="border text-center">
    <%= form_with(model: @post, url: { action: :update},  local: true) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <p><%= f.label :who, "1.誰に贈りたいですか？" %>(必須)</p>
        <%= f.text_field :who %>

        <p>2.その人はどんな人ですか？</p>

        <p><%= f.label :gender, "性別" %>(必須)</p>
        <%= f.select :gender, [["男性", "男性"], ["女性", "女性"]], include_blank: "選択してください" %>

        <p><%= f.label :age, "年齢" %>(必須)</p>
        <%= f.select :age, [["10代まで", "10代まで"], ["10代", "10代"], ["20代", "20代"], ["30代", "30代"], ["40代", "40代"], ["50代", "50代"], ["60代", "60代"], ["70代", "70代"], ["80代", "80代"], ["90代", "90代"], ["100代以上", "100代以上"]], include_blank: "選択してください" %>

        <p><%= f.label :job, "職業" %>(任意)</p>
        <%= f.text_field :job %>

        <p><%= f.label :situation, "3.どんなシチュエーションですか？" %>(必須)</p>
        <%= f.select :situation, [["誕生日祝い", "誕生日祝い"], ["結婚祝い", "結婚祝い"], ["出産祝い", "出産祝い"], ["引越祝い", "引越祝い"], ["クリスマス", "クリスマス"], ["バレンタイン", "バレンタイン"], ["ホワイトデー", "ホワイトデー"], ["合格祝い", "合格祝い"], ["入学祝い", "入学祝い"], ["卒業祝い", "卒業祝い"], ["就職祝い", "就職祝い"], ["昇進祝い", "昇進祝い"], ["記念日", "記念日"], ["送別会", "送別会"], ["送別会", "送別会"], ["母の日", "母の日"], ["父の日", "父の日"], ["敬老の日", "敬老の日"], ["お礼", "お礼"], ["パーティー", "パーティー"], ["お見舞い", "お見舞い"], ["手土産", "手土産"], ["その他", "その他"]], include_blank: "選択してください" %>

        <p><%= f.label :item, "4.何を贈ろうと思っていますか？" %>(必須)</p>
        <%= f.text_field :item %>

        <% if @post.image.present? %>
          <p><%= f.label :image, "5.贈りたいもののイメージ画像"  %>(任意)</p>
          <%= image_tag @post.image.url %>
          <%= f.file_field :image %>
          <p><%= f.check_box :remove_image %>画像を削除する</p>
        <% else %>
          <p><%= f.label :image, "5.贈りたいもののイメージ画像" %>(任意)</p>
          <%= f.file_field :image %>
        <% end %>

        <p><%= f.label :price, "6.予算は？" %>(必須)</p>
        <%= f.select :price, [["1,000円未満", "1,000円未満"], ["1,000~2,000円", "1,000~2,000円"], ["2,000~3,000円", "2,000~3,000円"], ["3,000~5,000円", "3,000~5,000円"], ["5,000~8,000円", "5,000~8,000円"], ["8,000~10,000円", "8,000~10,000円"], ["10,000~15,000円", "10,000~15,000円"], ["15,000円以上", "15,000円以上"]], include_blank: "選択してください" %>

        <p><%= f.label :when, "7.いつ贈りたいと思っていますか？" %>(任意)</p>
        <%= f.text_field :when %>

        <p><%= f.label :description, "8.ご自由に書いてください。" %>(任意)</p>
        <%= f.text_area :description, placeholder: "プレゼントを贈る上で悩んでいることや贈りたいものの参考URLなどご自由に描いてください" %>

        <%= f.submit "更新" %>

    <% end %>
  </div>