<div class="user-info">
  <h2>投稿者:<%= @post.user.name %></h2>
  <p>性別:<%= @post.user.gender %></p>
  <p>年齢:<%= @post.user.age %>歳</p>
</div>

<div class="gift-info">
  <p>贈りたいもの:<%= @post.item %></p>
  <p>贈りたい人:<%= @post.who %></p>
  <p>その人の特徴:</p>
  <p>性別:<%= @post.gender %></p>
  <p>年齢:<%= @post.age %></p>
  <p>職業:<%= @post.job %></p>
  <p>シチュエーション:<%= @post.situation %></p>
  <p>予算:<%= @post.price %></p>
  <p>いつ贈りたいか:<%= @post.when %></p>
  <p>説明:<%= @post.description %></p>
</div>
<span class="timestamp">
  <%= @post.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
</span>
<div>
  <%= render 'post_likes/like', post: @post %>
</div>

<h2>いいねしたユーザー</h2>
<% @post.liked_users.each do |user| %>
  <li><%= link_to user.name, user %></li>
<% end %>

<div>
  <div>
    <h2>コメントを投稿する</h2>
    <%= form_with(model: [@post, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit", remote:true do %>
        <i></i> コメントする
      <% end %>
    <% end %>
  </div>
  <h2>コメント一覧</h2>
  <h3>コメント<%= @comments.count%>件</h3>
</div>

<%= render @comments, post: @post %>