<div class="card bg-light text-center w-75 mx-auto mb-3">
<%# <div class="text-center border mb-5 w-75 mx-auto"> %>
  <div class="card-img-top mt-2">
    <% if @post.user.image?%>
      <%= image_tag @post.user.image.to_s, size: '200x200',class: "rounded-circle" %>
    <% else %>
      <%= image_tag "default.jpg", size: '200x200',class: "rounded-circle" %>
    <% end %>
  </div>
  <div class="card-body">
    <div class="card-title">
      <h2><%= @post.user.name %></h2>
    </div>
    <p>性別:<%= @post.user.gender %></p>
    <p>年齢:<%= @post.user.age %>歳</p>
  </div>
</div>

<div class="card bg-light text-center w-75 mx-auto mb-3">
<%# <div class="text-center border w-75 mx-auto"> %>
  <div class="card-body post-show-content w-75 mx-auto">
  <p>贈りたいもの:<%= @post.item %></p>
  <% if @post.image? %>
    <p>贈りたいもののイメージ画像</p>
    <%= image_tag @post.image.to_s %>
  <% end %>
  <p>贈りたい人:<%= @post.who %></p>
  <p>その人の特徴:</p>
  <p>性別:<%= @post.gender %></p>
  <p>年齢:<%= @post.age %></p>
  <p>職業:<%= @post.job %></p>
  <p>シチュエーション:<%= @post.situation %></p>
  <p>予算:<%= @post.price %></p>
  <p>いつ贈りたいか:<%= @post.when %></p>
  <p>説明:<br><%= @post.description %></p>
  <span class="timestamp">
    <%= @post.created_at.strftime('%Y/%m/%d %H:%M') %>
  </span>
  </div>
  <div class="text-right mr-3">
    <%= render 'post_likes/like', post: @post %>
  </div>
</div>

<div class="text-right w-75 mx-auto">
  <% if current_user?(@post.user) %>
    <%= link_to "投稿削除", @post, method: :delete,
  data: { confirm: "投稿を削除してもよろしいですか?" }, class: "mt-2 btn btn-danger btn-sm text-right" %>
    <%= link_to "投稿編集", edit_post_path(@post), class: "mt-2 btn btn-danger btn-sm " %>
  <% end %>
</div>

<div class="text-center mt-3">
  <h2>いいねしたユーザー</h2>
  <% @post.liked_users.each do |user| %>
      <li class="list-unstyled mb-2 col-1 mx-auto">
        <div data-toggle="tooltip" data-placement="bottom" title=<%= user.name %> >
          <% if user.image? %>
            <%= link_to image_tag(user.image.to_s, size: '50x50', class: "rounded-circle"), user %>
          <% else %>
            <%= link_to image_tag("default.jpg", size: '50x50', class: "rounded-circle"), user %>
          <% end %>
        </div>
      </li>
    <%# <li class="list-unstyled"><%= link_to user.name, user %>
  <% end %>
</div>

<div>
  <div class="text-center mt-3">
    <% if logged_in? %>
      <h2>コメントを投稿する</h2>
      <%= form_with(model: [@post, @comment], local: true) do |f| %>
        <%= f.text_area :content %>
        <br>
        <%= button_tag type: "submit", remote:true, class: " btn btn-success btn-sm" do %>
          <i></i>
          コメントする
        <% end %>
      <% end %>
    <% end %>
  </div>
  <h2 class="text-center mt-3">コメント一覧
  <% if @comments.any? %>
  (<%= @comments.count%>件)
  </h2>
  
  <% end %>
</div>

<%= render @comments, post: @post %>