<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-danger">
    <%= link_to "GIFT LOG", root_path, id: "logo", class: "navbar-brand bg-white text-danger pl-2 pr-2 d-flex justify-content-start rounded" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerMenu" aria-controls="navbarTogglerMenu" aria-expanded="false"  aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end wrap" id="navbarTogglerMenu">
    <ul class="d-lg-flex align-items-center">
        
      <% if logged_in? %>
        <li class="list-unstyled nav-item mr-5"><%= link_to root_path, class: "text-white" do %><i class="fas fa-home menu-item" data-toggle="tooltip" data-placement="bottom" title="ホーム"></i><% end %>
        </li>
        <li class="list-unstyled nav-item mr-5"><%= link_to users_path, class: "text-white" do %>
        <i class="fas fa-users menu-item" data-toggle="tooltip" data-placement="bottom" title="ユーザーリスト"></i><% end %></li>
        <li class="list-unstyled nav-item mr-5"><%= link_to '#', class: "text-white", data: { confirm: "メンテナンス中です。" } do %><i class="far fa-calendar menu-item" data-toggle="tooltip" data-placement="bottom" title="カレンダー"></i><% end %></li>
        <li class="list-unstyled nav-item mr-5"><%= link_to favorite_people_user_path(current_user), class: "text-white" do %><i class="fas fa-hand-holding-heart menu-item" data-toggle="tooltip" data-placement="bottom" title="大切な人リスト"></i><% end %></li>
        <li class="dropdown list-unstyled mr-5 menu-item">
          <a href= '#' class="dropdown-toggle text-white" data-toggle="dropdown">
          <div data-toggle="tooltip",data-placement="bottom", title= <%=current_user.name %> >
          <% if current_user.image? %>
            <%= image_tag current_user.image.to_s, size: '40x40',class: "rounded-circle" %>
          <% else %>
            <%= image_tag "default.jpg", size: '40x40',class: "rounded-circle" %>
          <% end %>
          </div>
          </a>
          <ul class="dropdown-menu bg-danger mymenu">
            <li><i class="far fa-user"></i><%= link_to "マイページ", current_user, class: "text-white" %></li>
            <li><i class="fas fa-cog"></i><%= link_to "プロフィール編集", edit_user_path(current_user), class: "text-white" %></li>
            <li><i class="fas fa-handshake"></i><%= link_to "フォロー/フォロワー", following_user_path(current_user), class: "text-white" %></li>
            <% if false %>
            <li><i class="fas fa-pen"></i><%= link_to "下書きリスト", '#', class: "text-white" %></li>
            <% end %>
            <li><i class="fas fa-sign-out-alt"></i><%= link_to "ログアウト", logout_path, method: :delete, class: "text-white" %></li>
          </ul>
        </li>
        <li class="list-unstyled nav-item mr-5"><%= link_to about_path, class: "text-white" do %><i class="far fa-question-circle menu-item" data-toggle="tooltip" data-placement="bottom" title="GIFT LOGとは？"></i><% end %></li>
        <li class="list-unstyled nav-item mr-5"><%= link_to new_post_path, class: "btn btn-success btn-lg menu-item" do %><i class="far fa-edit" data-toggle="tooltip" data-placement="bottom" title="投稿する"></i><% end %></li>
      <% else %>
        <li class="list-unstyled nav-item mr-5"><%= link_to root_path, class: "text-white" do %><i class="fas fa-home menu-item" data-toggle="tooltip" data-placement="bottom" title="ホーム"></i><% end %>
        </li>
        <li class="list-unstyled nav-item mr-5 menu-item"><%= link_to "ユーザー登録", signup_path, class: "text-white" %></li>
        <li class="list-unstyled nav-item mr-5 menu-item"><%= link_to "ログイン", login_path, class: "text-white" %></li>
        <li class="list-unstyled nav-item mr-5"><%= link_to about_path, class: "text-white" do %><i class="far fa-question-circle menu-item" data-toggle="tooltip" data-placement="bottom" title="GIFT LOGとは？"></i><% end %></li>
      <% end %>
    </ul>
    </div>
  </nav>
</header>