<header>
  <div class="container">
    <%= link_to "GIFT LOG", root_path, id: "logo" %>
    <nav>
      <ul>
        <li><%= link_to "ホーム", root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "ユーザーリスト", '#' %></li>
          <li><%= link_to "カレンダー", '#' %></li>
          <li><%= link_to "人リスト", '#' %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.name %>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "マイページ", '#' %></li>
              <li><%= link_to "プロフィール編集", '#' %></li>
              <li><%= link_to "フォロー/フォロワー", '#' %></li>
              <li><%= link_to "下書きリスト", '#' %></li>
              <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
            </ul>
          </li>
          <%= link_to "投稿する", '#' %>
        <% else %>
          <li><%= link_to "ユーザー登録", signup_path %></li>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>